{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-up.css' %}" />
  </head>
  <body>
    <div id="navbar">
      <span>pylog</span>
      <a href="/posts/create/" class="btn btn-primary">글 작성</a>
    </div>
    <div id="post-list">
      <ul class="posts">
        {% for post in posts %}
        <li class="post" onclick="location.href='/posts/read/{{post.id}}'">
          <div class="title">{{post.title}}</div>
          <p class="preview">{{post.content | striptags}}</p>
          <ul>
            <li>댓글이 {{post.comment_set.all | length}}개 있습니다.</li>
          </ul>
          <!-- <ul>
            {% for comment in post.comment_set.all %}
            <li>{{comment.content}}</li>
            {% empty %}
            <li>아직 댓글이 없습니다.</li>
            {% endfor %}
          </ul> -->
          {% if post.thumbnail %}
          <img src="{{post.thumbnail.url}}" alt="" />
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer">
      <div class="flex-1">
        <span class="logo">© 2024 pylog.</span>
      </div>
      <div class="flex-1">
        <ul class="flex-2">
          <li>Test1</li>
          <li>Test2</li>
          <li>Test3</li>
          <li>Test4</li>
          <li>Test5</li>
          <li>Test6</li>
        </ul>
      </div>
    </div>
    <div class="sponsor">
      <span class="sponsor-text">Powered by</span>
      <div class="sponsor-img">
        <img src="https://t1.kakaocdn.net/kakaoicloud/portal/images/logo_black_230116.png" width="160" />
      </div>
    </div>
  </body>
</html>
