.title {
  color: #666;
  font-weight: bold;
  font-size: 17pt;
}

.preview {
  display: block;
  overflow: hidden;
  max-width: 95%;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  font-size: 0.8125em;
  line-height: 1.5rem;
  color: #666;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 63px;
}

.footer {
  display: flex;
  justify-content: center;
  padding-inline: 40px;
}

@media (width < 576px) {
  .footer {
    flex-direction: column-reverse;
  }
}

.logo {
  font-weight: bold;
}

.flex-1 {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.flex-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-2 > li {
  margin-inline: 10px;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
}

.sponsor-text {
  padding-inline: 10px;
}

.sponsor-img {
  max-width: 125px;
  overflow: hidden;
}

.sponsor-img img {
  max-width: initial;
}
